textarea {
    min-height: 400px;
}

.email {
    border: 2px solid #ccc; /* Borde gris claro */
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9; /* Fondo ligeramente gris */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email:hover {
    border: 2px solid #333; /* Borde más grueso y oscuro al pasar el ratón */
}

.email-details {
    flex-grow: 1;
    padding-right: 10px;
    font-size: 0.9rem; /* Ajuste del tamaño de fuente para detalles adicionales */
}

.email-timestamp {
    white-space: nowrap;
    opacity: 0.75;
    color: #666; /* Color gris para la fecha y hora, menos prominencia */
    font-size: 0.8rem; /* Tamaño más pequeño para la fecha y hora */
}

.email-container {
    position: relative;
    border: 1px solid #ccc; /* Borde sutil para el contenedor */
    background-color: #f8f8f8; /* Color de fondo suave */
    margin: 10px;
    padding: 20px; /* Espacio interno para separar el contenido de los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar el contenedor */
    border-radius: 8px; /* Bordes redondeados */
}
  
 
.email-content {
    padding-top: 40px; /* Espacio para no solapar con los botones */
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco para el contenido del correo */
    border: 1px solid #ddd; /* Borde sutil para el contenido */
    border-radius: 5px; /* Bordes redondeados para el contenido */
    margin-bottom: 20px; /* Espacio debajo del contenido antes de los botones */
}

.action-buttons {
    position: absolute;
    right: 20px; /* Alineación derecha con un poco de espacio al borde */
    top: 20px; /* Posicionado en la parte superior del contenedor */
    display: flex;
    gap: 10px;
}
  
  

  