textarea {
    min-height: 400px;
}

.email {
    border: 2px solid #ccc; /* Borde gris claro */
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9; /* Fondo ligeramente gris */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email:hover {
    border: 2px solid #333; /* Borde más grueso y oscuro al pasar el ratón */
}

.email-details {
    flex-grow: 1;
    padding-right: 10px;
}

.email-timestamp {
    white-space: nowrap;
    opacity: 0.75;
}

.email-container {
    position: relative;
  }
  
  .action-buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 10px;
  }
  
  .email-content {
    padding-top: 40px; /* Espacio para no solapar con los botones */
  }
  