textarea {
    min-height: 400px;
}

.email {
    border: 1px solid #ccc; /* Borde gris claro */
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9; /* Fondo ligeramente gris */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email:hover {
    background-color: #b7d3bb; /* Cambio de color de fondo al pasar el mouse */
}

.email-details {
    flex-grow: 1;
    padding-right: 10px;
}

.email-timestamp {
    white-space: nowrap;
    opacity: 0.75;
}
